{
  "extends": "airbnb",
  "rules": {
     "no-console": 0,
     "arrow-body-style": ["error", "always"],
     "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
     "react/no-find-dom-node": 0,
     "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
  },
}
