<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <link rel="shortcut icon" href="/img/AssetARLogo.png" />
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>AssetServer</title>

    </head>
    <body>
        {{{body}}}
    </body>
    <!--Import jQuery before materialize.js-->
    <script src="https://cdn.auth0.com/js/auth0/9.0.1/auth0.min.js"></script>
    
    <script type="text/javascript" src="/js/build.js"></script>
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>

  </html>
