body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.collapsible-header {
  padding: 20px;
}

.btn {
  background-color: #6A1B9A;
}

.btn:hover {
  background-color: #CE93D8;
}


::-webkit-input-placeholder {
  color: black;
}
